@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }


      .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease-in-out; /* Adjust the duration and timing as needed */
      }

      .image-component { /* Assuming ImageComponent renders an element with this class or you can adjust the selector */
        transition: opacity 0.5s ease-in-out; /* Add a transition for the fade-in effect */
      }
}

.btn{
    @apply px-4 py-2 font-bold text-white rounded transition bg-accent;
}

.btn:hover{
    @apply saturate-150 bg-accent;
}

.filter-button:hover, 
.filter-button.active{
  @apply bg-terciary;
}

.testimonios{
  @apply grid auto-cols-max grid-flow-col;
}
.testimonio{
  @apply w-80;
}